#root .container {
  width: 376px;
  height: 666px;
  z-index: 100;
  margin: auto;
  background: #ededed;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.9);
}

html,
body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}

#root .container-view {
  padding: 0 20px;
}

.select-all-archive {
  cursor: pointer;
  border-left: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  margin: 0 20px;
}

.select-all-archive span {
  font-size: 16px;
  font-family: Montserrat;
  color: #333333;
}

.select-all-archive span i {
  margin-right: 10px;
  font-weight: 600;
  color: #333333;
}
